body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
  width: 250px;
}

#msg {
  font-weight: bold;
  font-size: 18px;
}
